body{
    background-color: rgb(243, 235, 235);
}

table{
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 2px red;
    min-width: 350px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-fluid{
    display: flex;
    justify-content:space-between;
}

h4{
    color: blue;
    text-align: center;
}

h5{
    margin: 10px;
}

h4 span {
    margin-left: 5px;
    margin-right: 5px;
}